<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cqupt.eini.chapter07.CustomerMapper">

    <sql id="customerColumns"> id,username,jobs,phone</sql>

    <!--根据客户编号获取客户信息, parameterType是传入参数的属性, resultType是返回值的属性-->
    <select id="findCustomerById" parameterType="Integer" resultType="cus">
        select <include refid="customerColumns"/>
        from t_customer
        where id = #{id}
    </select>

    <!--根据客户名模糊查询客户信息列表-->
    <select id="findCustomerByName" parameterType="String" resultType="edu.cqupt.eini.chapter07.po.Customer">
        select * from t_customer where username like concat('%',#{value},'%')
    </select>

    <!--返回所有信息-->
    <select id="findAll" resultType="cus">
        select * from t_customer
    </select>

    <!--添加客户信息 配置keyProperty与useGeneratedKeys是为了获取主键id-->
    <insert id="addCustomer" parameterType="edu.cqupt.eini.chapter07.po.Customer"
            keyProperty="id" useGeneratedKeys="true">
        insert into t_customer(username,jobs,phone)
        values (#{username},#{jobs},#{phone})
    </insert>

    <!--修改客户信息-->
    <update id="updateCustomer" parameterType="edu.cqupt.eini.chapter07.po.Customer">
        update t_customer set username=#{username},jobs=#{jobs},phone=#{phone}
        where id=#{id}
    </update>

    <!--删除客户信息-->
    <delete id="deleteCustomer" parameterType="edu.cqupt.eini.chapter07.po.Customer">
        delete from t_customer where id=#{id}
    </delete>
</mapper>